<AdminPageHeader
  @titleLabel="admin.emoji.title"
  @descriptionLabel="admin.emoji.description"
>
  <:breadcrumbs>
    <DBreadcrumbsItem
      @path="/admin/customize/emoji"
      @label={{i18n "admin.emoji.title"}}
    />
  </:breadcrumbs>
  <:actions as |actions|>
    <actions.Default
      @route="adminSiteSettings"
      @routeModels={{this.siteSettingsRouteModel}}
      @label="settings"
    />
  </:actions>
</AdminPageHeader>
<div class="admin-emojis">
  <EmojiUploader
    @emojiGroups={{this.emojiGroups}}
    @done={{action "emojiUploaded"}}
  />

  <hr />

  {{#if this.sortedEmojis}}
    <table id="custom_emoji">
      <thead>
        <tr>
          <th>{{i18n "admin.emoji.image"}}</th>
          <th>{{i18n "admin.emoji.name"}}</th>
          <th>{{i18n "admin.emoji.group"}}</th>
          <th>{{i18n "admin.emoji.created_by"}}</th>
          <th colspan="2">
            <ComboBox
              @value={{this.filter}}
              @content={{this.sortingGroups}}
              @nameProperty={{null}}
              @valueProperty={{null}}
              @onChange={{action "filterGroups"}}
            />
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.sortedEmojis as |e|}}
          <tr>
            <td><img
                class="emoji emoji-custom"
                src={{e.url}}
                title={{e.name}}
                alt={{i18n "admin.emoji.alt"}}
              /></td>
            <td>:{{e.name}}:</td>
            <td>{{e.group}}</td>
            <td>{{e.created_by}}</td>
            <td class="action">
              <DButton
                @action={{fn this.destroyEmoji e}}
                @icon="trash-can"
                class="btn-danger"
              />
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>